html, body {
  font-family: "BNazanin", iransans, Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
}
.theme-whbl #header-navbar {
  background-color: #03a9f4;
}
.theme-whbl #nav-col, .theme-whbl #page-wrapper {
  background-color: #ffffff;
}